* {
    z-index: 2;
}

.navbar {
    height: 70px;
    z-index: 3;
    background-color:#F1F3FF;
}

.navbar .navbar-toggler {
    background-color: transparent;
    border: none;
}

.navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: lightgrey;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    position: absolute;
    left: 0;
    transition: background-color 0.3s ease-in-out;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    bottom: -8px;
}

.navbar .nav-link {
    color: black;
}

.offcanvas-body .nav-item .btn {
    width: Hug (81px);
    height: Hug (36px);
    padding: 8px 12px 8px 12px;
    border-radius: 2px;
    gap: 10px;
    background: #5CB85F;
}


@media(max-width: 768px) {
    .sidebar {
        background-color: white;
        width: 50%;
        max-width: 300px;
    }
}

/*HERO*/ 
#hero {
    padding: 70px;
    background-color: #F1F3FF;
    width: 100%;
    height: 470px;
    position: sticky;
}

.img-car {
    width: 650px;
    height: 370px;
    top: 97px;
}

.hero-tagline{
    padding: 5rem 1rem;
    margin-left: 48px;
    
}

.hero-tagline h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.hero-tagline p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 120px;
}

.hero-tagline .btn {
    width: Hug (140px);
    height: Hug (36px);
    top: 377px;
    left: 136px;
    padding: 8px 12px 8px 12px;
    border-radius: 2px;
    gap: 10px;
    background: #5CB85F;
}

@media (max-width: 768px) {
    #hero {
        height: 700px;
    }

    .img-car {
        width: 100%;
        height: auto;
        top: initial;
        bottom: 0;
    }

    .hero-tagline {
        padding: 1rem 0;
        margin-left: -40px;
    }

    .hero-tagline h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;

    }

    .hero-tagline p {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        max-width: 600px; 
        margin: 0 auto;
    }

    .hero-tagline .btn {
        width: auto;
        height: auto;
        display: block;
        margin-top: 10px;
    }
}

/*OUR SEVICES*/
#services {
    padding: 7rem 1rem;
}

.servicesTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.servicesKet {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.text .list-item {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px;
}

@media (max-width: 768px) {
    #services img {
        width: 250px;
        height: auto;
        transform: translateX(15%);
    }

    .text {
        padding: 1rem 1rem;
        margin-left: -20px;
    }

    #services {
        padding: 4rem 1rem;
    }
}

/*WHY US*/
#why {
    width: 100%;
    height: 400px;
    padding: 1rem 1rem;
}

#why h1 {
    font-size: 24px;
    font-weight: Bold;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

#why p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

#why .card-title {
    margin-top: 15px;
}

#why .card-text {
    margin-right: 10px;
}

@media (max-width: 768px) {
    #why .text h1{
        text-align: center;
    }

    #why .text p {
        text-align: center;
    }
}

 /*TESTIMONIAL*/
#testi {
    width: 100%;
    height: 500px;
    left: -241px;
    padding: 2rem 1rem;

}

#testi .judul h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

#testi .judul p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

#testi .carousel-inner {
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

#testi .card {
    width: 40rem;
    height: 13rem;
    border-radius: 8px;
    margin: 0 auto;
    background: #F1F3FF;
    border-radius: 8px;
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    padding: 0 20px;
}


#testi .card-text {
    margin-left: 200px;
    width: 60%;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
}

#testi .nama {
    margin-left: 200px;
    width: 60%; 
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
}

#testi .card .card-body .human {
    position: absolute;
    top: 50%; 
    left: 80px; 
    transform: translateY(-50%); 
    display: flex;
    height: 80px;
    width: 80px;
}

#testi .card .card-body .rate {
    margin-left: 200px;
    margin-top: 30px;
}

#testi .btnWrap {
    height: 5rem;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -400px;
}

#testi .btnCarouselPrev {
    background: green !important;
    border-radius: 100%;
    height: 20px !important;
    width: 20px !important;
    position: relative !important;
}

@media (max-width: 768px) {
    #testi {
        padding: 30rem 1rem;
    }

    #testi .card .card-body .human {
        position: absolute;
        top: 50%; 
        left: 30px; 
        transform: translateY(-50%); 
        display: flex;
        height: 50px;
        width: 50px;
    }

    #testi .card-text {
        margin-left: 70px;
        width: 40%;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }

    #testi .nama {
        margin-left: 70px;
        width: 40%; 
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }

    #testi .card .card-body .rate {
        margin-left: 70px;
        margin-top: 80px;
    }
    #testi .btnWrap {
        height: 5rem;
        position: relative;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: -510px;
    }
    
    #testi .btnCarouselPrev {
        background: green !important;
        border-radius: 100%;
        height: 20px !important;
        width: 20px !important;
        position: relative !important;
    }
}

    
/*SEWA MOBIL SEKARANG*/
#sewa {
    width: 100%;
    height: 450px;
    padding: 3rem 1rem;
}

#sewa .card {
    width: 1050px;
    height: 280px;
    border-radius: 13px;
    background: #0D28A6;
}

#sewa .card-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

#sewa .card-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    space: normal; 
    max-width: 450px;
}

#sewa .btn {
    width: Hug (140px);
    height: Hug (36px);
    top: 2304px;
    left: 650px;
    padding: 8px 12px 8px 12px;
    border-radius: 2px;
    gap: 10px;
    background-color: #5CB85F;
}

@media (max-width: 768px) {
    #sewa .card {
        width: 900px;
        height: 500px;
        border-radius: 13px;
        background: #0D28A6;
        top: -80px;
    }

    #sewa p{
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 25px;
        margin-bottom: 35px;
    }
}


/*FAQ*/
.card {
    position: relative; 
    z-index: 1; 
    transition: z-index 0.3s; 
}

#faq .card-body {
    width: 668px;
    height: 56px;
    border-radius: 4px;
    border: 1px;
}

#faq h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

#faq p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

#faq .dropdown .isi {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
    overlow: hidden;
    text-overlow: ellipsis;
}

.card:hover {
    z-index: 2;
}

.dropdown-menu {
    position: absolute; 
    top: 100%;
    left: 0;
    display: none; 
    z-index: 3;
}

.card:hover .dropdown-menu {
    display: block;
}

@media (max-width: 768px) {
    #faq h1{
        text-align: center
    }

    #faq p {
        text-align: center;
    }

    #faq {
        padding: 4rem 1rem;
        padding-bottom: 40px;
    }

    #faq .dropdown .isi {
        white-space: normal;
        overlow: visible;
        text-overlow: unset;
    }

     #faq .card {
    margin-left: -15px;
    margin-right: -15px;
    }
}

/*FOOTER*/
#footer {
    padding: 7rem 1rem;
}

@media (max-width: 768px) {
    #footer {
        padding-top: 0;
    }

    #footer p {
        margin-bottom: 20px; 
    }

    .icon {
        padding-top: 2px; 
    }

    .icon img {
        margin-right: 10px;
    }

    #footer .copy{
        margin-top: 20px;
}